
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    min-height: 70px;
    border-bottom: 2px solid var(--white);
    color:  var(--color);
    top:0;
    position: sticky;
    background-color:  var(--white);
    z-index: 100;
    max-width: 100%;
}


.logo  h1 span {
    color: var(--background);
    font-style: italic;
}

.nav-links{
    max-width: 50%;
    flex: 1;
   
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
    
   
}

.nav-links ul a{
    color:  crimson;
    font-weight: 800;


}

.nav-links ul a:hover{
   border-bottom: 1px solid #f1f1f1;
    color: var(--background);
}

.nav-icons a{
    /* color: white; */
    color:  rgb(48, 37, 37);

}

.menu-icon{
    display: none;
}




@media(max-width: 760px){
    .nav-links{
        display: none;
    }

    .nav-icons{

    }
   
    .menu-icon{
        display: flex;
    }
    #hidden{
        position: absolute;
        top: 70px;
        height: 70vh;
        max-height: 1500px;
        width: 100%;
        max-width: 100vw;
        background-color:white;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        line-height: 40px;
        
    }

    #hidden ul{
      display: flex;
      flex-direction: column;
    }
    
    
    #hidden a{
        margin: 10px;
        font-size: 15px;
        color: red;
        }
}

